/*
 * Inter, self-hosted as a variable font (SIL Open Font License 1.1; licence in ./files/OFL-Inter.txt).
 * Subset: Latin + Latin Extended and the symbols the UI uses; every OpenType feature kept (tnum, cv*, ss*).
 */
@font-face {
  font-family: 'Inter';
  src: url('./files/inter-variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./files/inter-italic-variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
